:root{
    --borderWidth: 2px;
    --borderRadius: 16px;

    --gutterWidth: 4px;

    --hoverRise: 2px;
}

body {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: 0px;
    padding: 0px;
    background-color: var(--themeColor1);
    box-shadow: inset 0px 0px 8px 4px var(--shadowColor);
}

.the-common-ancestor {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}
.the-top-holder {
    position: sticky;
    left: 0%;
    right: 0%;
    top: 0%;
    height: 64px;
}
.the-top-bar {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    height: 100%;
    background-color: var(--themeColor2);
    box-shadow: 0px 4px 8px 0px var(--shadowColor);
    transition-duration: 0.2s;

    border-radius: var(--borderRadius);
}
.the-top-bar:hover {
    box-shadow: var(--hoverRise) 4px 8px calc(var(--hoverRise)/2) var(--shadowColor);
}