:root {
    /* Basic colors */
    --themeColor0: rgb(0, 0, 0);
    --themeColor1: rgb(0, 0, 0);
    --themeColor2: rgb(0, 0, 0);
    --themeColor3: rgb(0, 0, 0);

    /* Outline colors */
    --outlineColor: rgb(0, 0, 0, 0);
    --glowColor: rgb(0, 0, 0, 1);

    /* Text colors */
    --textColor: rgb(0, 0, 0);

    /* Shadow colors */
    --shadowColor: rgb(0, 0, 0);

    /* Icon colors */
    --iconColor: rgb(0, 0, 0);
    --logoColor: rgb(0, 0, 0);
}