:root {
    /* Basic colors */
    --themeColor0: rgb(176, 180, 188);
    --themeColor1: rgb(240, 244, 248);
    --themeColor2: rgb(192, 200, 208);
    --themeColor3: rgb(224, 232, 240);

    /* Outline colors */
    --outlineColor: rgb(176, 180, 188);
    --glowColor: rgb(0, 255, 94);

    /* Text colors */
    --textColor: rgb(64, 68, 72);

    /* Shadow colors */
    --shadowColor: rgb(160, 168, 176);

    /* Icon colors */
    --iconColor: rgb(16, 20, 24);
    --logoColor: rgb(16, 20, 24);
}