:root {
    /* Basic colors */
    --themeColor1: rgb(16, 16, 20);
    --themeColor2: rgb(48, 48, 50);
    --themeColor3: rgb(32, 32, 34);

    /* Outline colors */
    --preHighlightOverlayColor: rgb(0, 0, 0, 0);
    --highlightOverlayColor: rgb(96, 112, 255, 1);

    /* Text colors */
    --textColor: rgb(112, 128, 192);
    --textColorLight: rgb(160, 176, 200);

    /* Shadow colors */
    --shadowColor: rgb(12, 12, 16);

    /* Logo colors */
    --iconColor: -110deg;
    --iconSaturate: 50%;
    --iconBrightness: 150%;
    --iconOpacity: 1;
    --iconInvert: 0;
}