:root {
    /* Basic colors */
    --themeColor1: rgb(0, 0, 0);
    --themeColor2: rgb(0, 0, 0);
    --themeColor3: rgb(0, 0, 0);

    /* Outline colors */
    --preHighlightOverlayColor: rgb(0, 0, 0, 0);
    --highlightOverlayColor: rgb(0, 0, 0, 1);

    /* Text colors */
    --textColor: rgb(0, 0, 0);
    --textColorLight: rgb(0, 0, 0);

    /* Shadow colors */
    --shadowColor: rgb(0, 0, 0);

    /* Logo colors */
    --iconColor: rgb(0, 0, 0);
}