:root {
    /* Basic colors */
    --themeColor1: rgb(255, 0, 0);
    --themeColor2: rgb(0, 0, 255);
    --themeColor3: rgb(128, 0, 255);

    /* Outline colors */
    --outlineColor: rgb(255, 255, 255);
    --glowColor: rgb(0, 255, 255);

    /* Text colors */
    --textColor: rgb(255, 255, 0);

    /* Shadow colors */
    --shadowColor: rgb(0, 0, 0);

    /* Icon colors */
    --iconColor: rgb(0, 255, 0);
    --logoColor: rgb(255, 0, 255);
}