.the-viewport {
    display: flex;
    overflow: hidden;
    aspect-ratio: 16 / 9;

    position: relative;
    width: 1920px;
    max-width: calc(100vw - var(--edgeGutter)*2);
    margin: var(--edgeGutter);

    border-radius: var(--borderRadius);
}