:root{
    --logoHeight: 128px;
}
.the-logo-holder {
    display: flex;
    flex: 0.5;

    width: 100%;

    align-items: end;
    justify-content: center;
}
.the-sigma-logo {
    display: flex;

    height: var(--logoHeight);
}
.the-mission {
    display: flex;
    flex: 1;

    text-align: center;
}