:root{
    --logoHeight: 160px;
}
.the-logo-holder {
    display: flex;
    flex: 0.5;

    width: 100%;

    align-items: end;
    justify-content: center;
}
.the-sigma-logo {
    display: flex;

    height: var(--logoHeight);
    
    filter: invert(var(--logoInvert));
    opacity: var(--logoOpacity);
}
.the-mission {
    display: flex;
    flex: 1;

    justify-content: center;
    text-align: center;
}