:root{
    --logoHeight: 160px;

    --missionWidth: calc(128px*5);
}
.the-logo-holder {
    display: flex;
    flex: 0.5;

    width: 100%;

    align-items: end;
    justify-content: center;
}
.the-sigma-logo {
    display: flex;

    height: var(--logoHeight);
    
    filter: invert(var(--logoInvert));
    opacity: var(--logoOpacity);
}
.the-mission-holder {
    display: flex;
    flex-direction: row;
    flex: 1;

    justify-content: center;
    text-align: center;
}
.the-mission {
    display: flex;
    
    width: var(--missionWidth);
}