:root{
    --logoHeight: 160px;

    --missionWidth: calc(128px*5);
}
#the-logo-holder {
    display: flex;
    flex-grow: 1;

    position: relative;

    align-items: end;
    justify-content: center;
}
#the-sigma-logo {
    display: flex;

    position: relative;
    bottom: calc((var(--logoHeight)/40)*-8);
    height: calc((var(--logoHeight)/40)*48);
}
#the-mission-holder {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    justify-content: center;
    text-align: center;
}
#the-mission {
    display: flex;
    
    position: relative;
    top: calc((var(--logoHeight)/40)*8);
    width: var(--missionWidth);
}