:root {
    /* Basic colors */
    --themeColor1: rgb(240, 244, 248);
    --themeColor2: rgb(192, 200, 208);
    --themeColor3: rgb(224, 232, 240);

    /* Outline colors */
    --preHighlightOverlayColor: rgb(244,255,248,0);
    --highlightOverlayColor: rgb(244,255,248,0.5);

    /* Text colors */
    --textColor: rgb(64, 68, 72);
    --textColorLight: rgb(160, 164, 168);

    /* Shadow colors */
    --shadowColor: rgb(160, 168, 176);

    /* Logo colors */
    --logoInvert: 0;
    --logoOpacity: 1;
}