:root {
    --hudHeit: 128px;
    --tinyHeit: 36px;
    --oneHeit: 4px;
}
body {
    background-color: gray;
}
#inventoryBar {
    display: flex;
    flex-direction: row;

    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: calc(var(--tinyHeit)*3 + 24px);
    background-color: rgb(58, 58, 58);
    border-style: solid;
}
#inventoryBar > * {
    display: flex;
    flex-grow: 1;
}
#face {
    flex-grow: 0.8;

    background-image: url(../images/image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: var(--oneHeit);
    background-color: rgb(0,0,0);
}
#keys {
    flex-grow: 0;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    /* outline: auto black; */
    /* this thing ^ SORRY FOR MAKING YOU DO THIS*/
    /* It's no problem at all, trust */
    /* You used "outline," in this case you need to use "border" */
    /* also "auto" is not a parameter that exists for outlines/borders */
    /* and the reason the outline did not desplay is because it didn't have a width or a style */
    /* ↓ this should work ↓ */
    border-style: solid;
    border-width: var(--borderWidth);
    background-color: rgb(0,0,0);

    width: calc(var(--tinyHeit) + 8px);
    height: calc(var(--tinyHeit)*3 + 20px);
    background-color: rgb(79,79,79);
}
.key {
    width: var(--tinyHeit);
    height: var(--tinyHeit);
}
#key-blue{
    background-color:  rgb(58, 58, 58);
    background-image: url(../images/Key\ Blue.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#key-yellow {
    background-color:  rgb(58, 58, 58);
    background-image: url(../images/Key\ Yellow.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#key-red {
    background-color:  rgb(58, 58, 58);
    background-image: url(../images/Keycard.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.empty {
    background-color: rgb(58, 58, 58);
    flex-direction: column;
    max-width: 50px;
    max-height: 131px;
    border-style: solid;
}
#gun-ammo{
    background-color: darkslategray;
    background-image: url(../images/ammo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#weapons {
    display: flex;
    flex-grow: 0;
    flex-wrap: wrap;

    position: relative;
    width: calc(var(--tinyHeit)*3 + var(--oneHeit)*4);
    background-color: rgb(58, 58, 58); 
    border-style: solid;
    border-width: 3px;
}
#weapons-holder {
    display: flex;
    flex-wrap: wrap;
    gap: var(--oneHeit);

    width: calc(var(--tinyHeit)*3 + var(--oneHeit)*2);
    height: calc(var(--tinyHeit)*2 + var(--oneHeit));

    padding: var(--oneHeit);
}
.weapon {
    display: flex;

    position: relative;
    width: var(--tinyHeit);
    height: var(--tinyHeit);
    background-image: url(../images/UHH.png);
    background-size: cover;
}
.weapon > a {
    
}
#armor {
    background-image: url(..//images/final.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 2px;
}
#health {
    border-style: solid;
    border-width: 2px;
    background-image: url(../images/HEALTH.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#all-ammo {
    border-style: solid;
    border-width: 2px;
    background-image: url(../../Doom-1994/images/All\ Ammo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#gun-ammo{
    border-style: solid;
    border-width: 2px;
}