:root{
    /* Size variables */
    --boxSize: 64px;
    --edgeBoxSize: 64px;
    --searchSize: 512px;
    --buttonSize: 40px;
    --buttonSizeWide: 64px;
    --iconSize: 40px;
    --logoSize: 160px;
    --boxHorizontalWidth: 200px;

    --maxWidthSmallerer: 320px;
    --maxWidthSmaller: 640px;
    --maxWidthSmall: 896px;
    --maxWidth: 1024px;
    --maxWidthBig: 1280px;
    --maxWidthBigger: 1580px;

    /* Outline variables */
    --borderWidth: 2px;
    --borderWidth2: calc(var(--borderWidth)*2);
    --borderRadius: 16px;
    --buttonPadding: 8px;

    /* Gutter variables */
    --gutterWidth: 4px;
    --gutterWidth2: calc(var(--gutterWidth)*2);
    --gutterWidth3: calc(var(--gutterWidth)*3);
    
    --edgeGutter: 12px;
    --edgeGutter2: calc(var(--edgeGutter)*2);
    --textEdgeGutter: 32px;
    --bigGutter: 64px;

    /* Text variables */
    --textSizeSmall: 16px;
    --textSize: 24px;
    --textSizeLarge: 32px;
    font-family: Arial, sans-serif;
    font-size: var(--textSize);

    /* Shadow variables */
    --shadowBlur: 8px;
    --shadowWidth: 4px;
    --shadowDistance: 2px;
    --shadowRise: 4px;
    --shadowGrow: 4px;

    /* Misc variables */
    --hoverRise: 2px;
    --buttonRise: -2px;
    --buttonFall: 2px;

    --edgeFalloffRadius: max(var(--borderRadius), min(calc(100vw - var(--maxWidthBig)), var(--edgeBoxSize)/2));
}

* {
    user-select: none;

    color: var(--textColor);

    transition-duration: 0.2s;
}

body {
    overflow: hidden;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-image: linear-gradient(180deg, var(--themeColor0), var(--shadowColor));

    margin: 0px;
    padding: 0px;

    transition: all 0.2s ease-in-out;
}
hr {
    position: relative;
    width: 100%;

    margin-top: var(--gutterWidth);
    margin-bottom: var(--gutterWidth);

    border-style: solid;
    border-top-style: solid;
    border-width: var(--borderWidth);
    border-color: var(--outlineColor);
}
.icon {
    display: flex;
    aspect-ratio: 1/1;

    position: relative;
    height: var(--iconSize);
    background-color: var(--iconColor);

    margin: var(--gutterWidth);

    mask-position: center center;
    mask-repeat: no-repeat;
    mask-image: url(SVGs/ours/defaultIcon.svg);
    mask-size: 100%;
}
.logo {
    display: flex;
    aspect-ratio: 8/3;

    position: relative;
    width: auto;
    height: var(--iconSize);
    background-color: var(--logoColor);

    margin: var(--gutterWidth);

    mask-position: center center;
    mask-image: url(../../SVGs/ours/default.svg);
    mask-repeat: no-repeat;
    mask-size: 100%;
}
.button {
    overflow: hidden;
    cursor: pointer;

    display: flex;
    aspect-ratio: 1/1;

    position: relative;
    top: 0px;
    height: var(--buttonSize);
    background-color: var(--themeColor2);

    margin: var(--gutterWidth);

    border-radius: calc(var(--buttonSize)/2  + var(--borderWidth));
}
.button:hover {
    top: var(--buttonRise);
}
.button:active {
    top: var(--buttonFall);
}
.button > input {
    opacity: 0;

    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    padding: 0px;
    margin: 0px;

    border: none;
}
.text-box {
    cursor: text;
    user-select: none;

    color: var(--textColor);
    font-size: var(--textSize);

    max-width: var(--maxWidthSmaller);

    padding: var(--gutterWidth);
    margin: var(--edgeGutter);

    border-style: solid;
    border-width: var(--borderWidth);
    border-radius: var(--borderRadius);
    border-color: rgb(0,0,0,0);
}
.title-box {
    cursor: text;
    user-select: none;

    width: fit-content;

    color: var(--textColor);
    font-size: var(--textSizeLarge);

    padding: var(--gutterWidth);

    border-style: solid;
    border-width: var(--borderWidth);
    border-radius: var(--borderRadius);
    border-color: rgb(0,0,0,0);
}
.title {
    cursor: text;
    user-select: none;

    width: fit-content;

    color: var(--textColor);
    font-size: var(--textSizeLarge);

    padding: var(--gutterWidth);

    border-style: solid;
    border-width: var(--borderWidth);
    border-radius: var(--borderRadius);
    border-color: rgb(0,0,0,0);
}
.flex {
    display: flex;

    position: relative;
}
.flex.vertical {
    flex-direction: column;
}
.flex.horizontal {
    flex-direction: row;
}
flexSpacer {
    pointer-events: none;
    display: flex;
    flex-grow: var(--size);

    position: relative;
}
divSpacer {
    display: block;
    pointer-events: none;

    position: relative;
    width: var(--size);
    height: var(--size);
}
divSpacer.horizontal {
    height: 100%;
}
divSpacer.vertical {
    width: 100%;
}
.outline {
    border-style: solid;
    border-width: var(--borderWidth);
    border-color: var(--outlineColor);
}
.glow:hover:not(:has(.glow:hover)) {
    border-color: var(--glowGolor);
}
.shadow {
    box-shadow: 0px var(--shadowDistance) var(--shadowBlur) var(--shadowWidth) var(--shadowColor);
}

#the-baseline {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.edge-holder {
    pointer-events: none;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    left: 0%;
    right: 0%;
    height: var(--edgeBoxSize);
}
.edge-box {
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;
    width: 100%;
    max-width: var(--maxWidthBig);
    height: var(--edgeBoxSize);
    
    padding: var(--gutterWidth);
}
.edge-box.top {
    pointer-events: all;
    align-self: start;
    justify-content: center;

    position: relative;
    min-height: var(--edgeBoxSize);
    height: fit-content;
    background-color: var(--themeColor2);

    padding-bottom: 0px;

    border-radius: 0px 0px var(--edgeFalloffRadius) var(--edgeFalloffRadius);
}
.edge-box.bottom {
    padding-top: 0px;
}

.horizontal-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.horizontal-action-box {
    height: var(--buttonSize);
    background-color: var(--themeColor3);

    margin: var(--gutterWidth);

    border-radius: calc(var(--buttonSize)/2 + var(--borderWidth));
}

.theme-switch > .icon {
    margin: 0px;

    animation: rotate 0.3s linear infinite paused;
    transition: 0.2s ease-out;
}
.theme-switch > .icon:active {
    animation-play-state: running;
    transform: rotate(-90deg);
}
@keyframes rotate {
    to {rotate: 360deg}
}

.tab {
    display: flex;
    overflow: hidden;
    flex-direction: column;

    position: absolute;
    left: 100%;
    right: 0px;
    top: 0px;
    bottom: 0px;

    margin: var(--gutterWidth);

    transition: all 0.2s ease-in-out;
}
.tab.open {
    left: 0px;
}
.intrusive-body {
    display: flex;
    flex-grow: 1;

    position: relative;
    left: 0px;
    right: 0px;
    background-color: var(--themeColor1);

}

#the-edge-shadow {
    z-index: 100;
    pointer-events: none;

    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    box-shadow: inset 0px 0px var(--edgeGutter) var(--gutterWidth) var(--shadowColor);
}

#the-intrusive-holder {
    z-index: 11;
    pointer-events: none;
    display: flex;
    flex-direction: column;

    position: fixed;
    right: 0px;
    min-width: calc((100vw - var(--maxWidthBig))/2);
    width: var(--maxWidthSmallerer);
    max-width: 100vw;
    height: 100vh;

    transition: all 0s linear;
}
#the-intrusive-box {
    pointer-events: all;
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    position: relative;
    left: 100%;
    top: 0px;
    bottom: 0px;
    width: 100%;
    max-width: var(--maxWidthSmallerer);
    background-color: var(--themeColor2);

    margin: var(--edgeGutter);

    border-radius: var(--borderRadius);

    transition: all 0.2s ease-in-out;
}
#the-intrusive-box.open {
    left: 0%;
}
#the-intrusive-box > .tab {
    visibility: hidden;
}

#the-top-bar-logo {
    position: relative;
    height: var(--edgeBoxSize);

    margin: var(--gutterWidth);
}

#the-search-holder {
    order: 4;

    display: flex;
    flex-direction: row;

    width: var(--boxHorizontalWidth);

    transition: width 0s;
}
#the-search-input {
    display: flex;
    flex-grow: 1;

    font-size: var(--textSizeSmall);

    position: relative;
    width: 0px;
    background-color: rgb(0,0,0,0);

    margin: var(--gutterWidth3);

    border-style: none;
    border-radius: calc(var(--iconSize)/2) 0px 0px calc(var(--iconSize)/2);
}
#the-search-input {
    outline: none;
}
#the-search-icon {
    height: var(--buttonSize);

    margin: 0px;
}

#the-top-bar-end-holder {
    flex-grow: 0.5;
    justify-self: end;

    position: relative;
    max-width: calc((var(--buttonSize) + var(--gutterWidth2))*3);
}

@media all and (max-width: 505px) {
    .edge-box.top {
        flex-wrap: wrap;
    }
    #the-search-holder {
        order: 8;

        width: var(--maxWidthSmallerer);
    }
}

#the-theme-switch {
    pointer-events: all;
    top: 0px;
    margin: calc(var(--gutterWidth)*2);

    transition: all 0.2s;
}
#the-theme-switch:hover:not(:active) {
    top: calc(var(--shadowRise)*-1);
    box-shadow: 0px var(--shadowRise) calc(var(--shadowBlur) + var(--shadowGrow)) var(--shadowWidth) var(--shadowColor);
}

#the-main-area {
    z-index: 0;
    display: block;
    flex-direction: column;
    overflow: scroll;

    position: absolute;
    left: calc(50% - (min(100vw, var(--maxWidthBig)))/2);
    width: 100vw;
    max-width: var(--maxWidthBig);
    height: 100vh;
    background-image: linear-gradient(180deg, var(--themeColor1), var(--themeColor0));

    box-shadow: 0px 0px var(--edgeGutter) var(--gutterWidth) var(--shadowColor);

    transition: width 0s, left 0s;
}
#the-main-area::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
#the-actual-page {
    position: relative;
    width: 100%;
}